In [1]:
import pandas as pd

In [2]:
hosts_df = pd.read_csv('olympic_hosts.csv')

In [3]:
medals_df = pd.read_csv('olympic_medals.csv')

In [4]:
results_df = pd.read_csv('olympic_results.csv')

In [5]:
athletes_df = pd.read_csv('olympic_athletes.csv')

In [6]:
athletes_df.head(5)

,athlete_url,athlete_full_name,first_game,athlete_year_birth,athlete_medals,games_participations,bio
0,https://olympics.com/en/athletes/dongqi-chen,Dongqi CHEN,Tokyo 2020,1988.0,NaN,NaN,NaN
1,https://olympics.com/en/athletes/sagen-maddalena,Sagen MADDALENA,Tokyo 2020,1993.0,NaN,NaN,NaN
2,https://olympics.com/en/athletes/maria-martynova,Maria MARTYNOVA,Tokyo 2020,1997.0,NaN,NaN,NaN
3,https://olympics.com/en/athletes/yulia-karimova,Yulia KARIMOVA,Tokyo 2020,1994.0,\n\n\n2\n\nB\n\n,1.0,NaN
4,https://olympics.com/en/athletes/najmeh-khedmati,Najmeh KHEDMATI,Rio 2016,1996.0,NaN,3.0,NaN

Clean athletes_df. Drop unnecessary columns, use dropna to get rid of NaN

In [7]:
athletes_df.drop(['athlete_url','bio', 'games_participations'], axis=1, inplace=True)
athletes_df.head()

  athlete_full_name  first_game  athlete_year_birth    athlete_medals
0       Dongqi CHEN  Tokyo 2020              1988.0               NaN
1   Sagen MADDALENA  Tokyo 2020              1993.0               NaN
2   Maria MARTYNOVA  Tokyo 2020              1997.0               NaN
3    Yulia KARIMOVA  Tokyo 2020              1994.0  \n\n\n2\n\nB\n\n
4   Najmeh KHEDMATI    Rio 2016              1996.0               NaN

In [8]:
athletes_df.dropna()

,athlete_full_name,first_game,athlete_year_birth,athlete_medals
3,Yulia KARIMOVA,Tokyo 2020,1994.0,\n\n\n2\n\nB\n\n
5,Nina CHRISTEN,Rio 2016,1994.0,\n\n\n1\n\nG\n\n\n\n1\n\nB\n\n
25,Mary Carolynn TUCKER,Tokyo 2020,2001.0,\n\n\n1\n\nS\n\n
29,Eglys CRUZ,Athens 2004,1980.0,\n\n\n1\n\nB\n\n
35,Snjezana PEJCIC,Beijing 2008,1982.0,\n\n\n1\n\nB\n\n
...,...,...,...,...
74682,Clarence Olivier GAMBLE,St. Louis 1904,1881.0,\n\n\n1\n\nB\n\n
74683,Arthur Yancey WEAR,St. Louis 1904,1880.0,\n\n\n1\n\nB\n\n
74695,Dimitrios LOUNDRAS,Athens 1896,1885.0,\n\n\n1\n\nB\n\n
74705,Lyudmila PAKHOMOVA,Innsbruck 1976,1946.0,\n\n\n1\n\nG\n\n
74706,Colleen O'CONNOR,Innsbruck 1976,1951.0,\n\n\n1\n\nB\n\n

Clean medals_df. Drop athlete_url, participant_title

In [9]:
medals_df.head(5)

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Shooting,tokyo-2020,Trap Mixed Team,Mixed,GOLD,GameTeam,Spain,https://olympics.com/en/athletes/fatima-galvez,Fatima GALVEZ,Spain,ES,ESP
1,Shooting,tokyo-2020,Trap Mixed Team,Mixed,GOLD,GameTeam,Spain,https://olympics.com/en/athletes/alberto-ferna...,Alberto FERNANDEZ,Spain,ES,ESP
2,Shooting,tokyo-2020,Trap Mixed Team,Mixed,SILVER,GameTeam,San Marino,https://olympics.com/en/athletes/alessandra-pe...,Alessandra PERILLI,San Marino,SM,SMR
3,Shooting,tokyo-2020,Trap Mixed Team,Mixed,SILVER,GameTeam,San Marino,https://olympics.com/en/athletes/gian-marco-berti,Gian Marco BERTI,San Marino,SM,SMR
4,Shooting,tokyo-2020,Trap Mixed Team,Mixed,BRONZE,GameTeam,United States of America,https://olympics.com/en/athletes/madelynn-ann-...,Madelynn Ann BERNAU,United States of America,US,USA

In [10]:
medals_df.drop(['participant_title', 'athlete_url'], axis=1, inplace=True)

In [11]:
medals_df

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,athlete_full_name,country_name,country_code,country_3_letter_code
0,Shooting,tokyo-2020,Trap Mixed Team,Mixed,GOLD,GameTeam,Fatima GALVEZ,Spain,ES,ESP
1,Shooting,tokyo-2020,Trap Mixed Team,Mixed,GOLD,GameTeam,Alberto FERNANDEZ,Spain,ES,ESP
2,Shooting,tokyo-2020,Trap Mixed Team,Mixed,SILVER,GameTeam,Alessandra PERILLI,San Marino,SM,SMR
3,Shooting,tokyo-2020,Trap Mixed Team,Mixed,SILVER,GameTeam,Gian Marco BERTI,San Marino,SM,SMR
4,Shooting,tokyo-2020,Trap Mixed Team,Mixed,BRONZE,GameTeam,Madelynn Ann BERNAU,United States of America,US,USA
...,...,...,...,...,...,...,...,...,...,...
21305,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,Viggo JENSEN,Denmark,DK,DEN
21306,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,Alexandros Nikolopoulos,Greece,GR,GRE
21307,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,Viggo JENSEN,Denmark,DK,DEN
21308,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,Launceston ELLIOT,Great Britain,GB,GBR
21309,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,Sotirios VERSIS,Greece,GR,GRE

In [12]:
medals_df.dropna

<bound method DataFrame.dropna of       discipline_title    slug_game                      event_title  \
0             Shooting   tokyo-2020                  Trap Mixed Team
1             Shooting   tokyo-2020                  Trap Mixed Team
2             Shooting   tokyo-2020                  Trap Mixed Team
3             Shooting   tokyo-2020                  Trap Mixed Team
4             Shooting   tokyo-2020                  Trap Mixed Team
...                ...          ...                              ...
21305    Weightlifting  athens-1896  heavyweight - one hand lift men
21306    Weightlifting  athens-1896  heavyweight - one hand lift men
21307    Weightlifting  athens-1896  heavyweight - two hand lift men
21308    Weightlifting  athens-1896  heavyweight - two hand lift men
21309    Weightlifting  athens-1896  heavyweight - two hand lift men

      event_gender medal_type participant_type        athlete_full_name  \
0            Mixed       GOLD         GameTeam            Fatima GALVEZ
1            Mixed       GOLD         GameTeam        Alberto FERNANDEZ
2            Mixed     SILVER         GameTeam       Alessandra PERILLI
3            Mixed     SILVER         GameTeam         Gian Marco BERTI
4            Mixed     BRONZE         GameTeam      Madelynn Ann BERNAU
...            ...        ...              ...                      ...
21305          Men     SILVER          Athlete             Viggo JENSEN
21306          Men     BRONZE          Athlete  Alexandros Nikolopoulos
21307          Men       GOLD          Athlete             Viggo JENSEN
21308          Men     SILVER          Athlete        Launceston ELLIOT
21309          Men     BRONZE          Athlete          Sotirios VERSIS

                   country_name country_code country_3_letter_code
0                         Spain           ES                   ESP
1                         Spain           ES                   ESP
2                    San Marino           SM                   SMR
3                    San Marino           SM                   SMR
4      United States of America           US                   USA
...                         ...          ...                   ...
21305                   Denmark           DK                   DEN
21306                    Greece           GR                   GRE
21307                   Denmark           DK                   DEN
21308             Great Britain           GB                   GBR
21309                    Greece           GR                   GRE

[21310 rows x 10 columns]>

In [13]:
results_df.head(5)

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,GOLD,"[('Fatima GALVEZ', 'https://olympics.com/en/at...",False,1,Spain,ES,ESP,NaN,NaN,NaN,NaN
1,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,SILVER,"[('Alessandra PERILLI', 'https://olympics.com/...",False,2,San Marino,SM,SMR,NaN,NaN,NaN,NaN
2,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,BRONZE,"[('Madelynn Ann BERNAU', 'https://olympics.com...",False,3,United States of America,US,USA,NaN,NaN,NaN,NaN
3,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Zuzana STEFECEKOVA', 'https://olympics.com/...",False,4,Slovakia,SK,SVK,NaN,NaN,NaN,NaN
4,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Yukie NAKAYAMA', 'https://olympics.com/en/a...",False,5,Japan,JP,JPN,NaN,NaN,NaN,NaN

In [14]:
results_df.drop(columns=['athletes', 'athlete_url', 'athlete_full_name', 'value_unit', 'value_type', 'rank_equal'], axis=1, inplace=True)

In [15]:
results_df.head()

,discipline_title,event_title,slug_game,participant_type,medal_type,rank_position,country_name,country_code,country_3_letter_code
0,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,GOLD,1,Spain,ES,ESP
1,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,SILVER,2,San Marino,SM,SMR
2,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,BRONZE,3,United States of America,US,USA
3,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,4,Slovakia,SK,SVK
4,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,5,Japan,JP,JPN

In [16]:
hosts_df.head(5)

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
1,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
2,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
3,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014
4,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012

In [17]:
medals_df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21310 entries, 0 to 21309
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   discipline_title       21310 non-null  object
 1   slug_game              21310 non-null  object
 2   event_title            21310 non-null  object
 3   event_gender           21310 non-null  object
 4   medal_type             21310 non-null  object
 5   participant_type       21310 non-null  object
 6   athlete_full_name      17738 non-null  object
 7   country_name           21310 non-null  object
 8   country_code           19798 non-null  object
 9   country_3_letter_code  21310 non-null  object
dtypes: object(10)
memory usage: 1.6+ MB

In [18]:
hosts_df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_slug        52 non-null     object
 1   game_end_date    52 non-null     object
 2   game_start_date  52 non-null     object
 3   game_location    52 non-null     object
 4   game_name        52 non-null     object
 5   game_season      52 non-null     object
 6   game_year        52 non-null     int64
dtypes: int64(1), object(6)
memory usage: 3.0+ KB

In [19]:
medals_df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21310 entries, 0 to 21309
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   discipline_title       21310 non-null  object
 1   slug_game              21310 non-null  object
 2   event_title            21310 non-null  object
 3   event_gender           21310 non-null  object
 4   medal_type             21310 non-null  object
 5   participant_type       21310 non-null  object
 6   athlete_full_name      17738 non-null  object
 7   country_name           21310 non-null  object
 8   country_code           19798 non-null  object
 9   country_3_letter_code  21310 non-null  object
dtypes: object(10)
memory usage: 1.6+ MB